/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
      font-family:'Helvetica', 'Arial', 'Sans-Serif';
      text-align: justify;
      text-justify: inter-word;
      font-size: 18px;
      line-height: 22px;
      color: #333;
      }

body {
    margin: 0;
}

/* Stili generici */
nav ul, footer ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: bolder;
    font-size: 36px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    text-align: left !important;
}

h2 {
    font-size: 28px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px;
    line-height: 22px;
    color: #333;
}

footer {
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgrey;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

ul, ol {
    margin: 20px auto 40px;
    font-size: 16px;
}

ul li, ol li {
    list-style: none;
    font-size: 16px;
}

div {
     text-align: justify;
     text-justify: inter-word;
      }

div.blurb {
    text-align: justify;
}
.w3-container {
  margin: 40px;
}

.w3-bar-item {
   font-weight: bolder;
   color: #333;
}

/* Media Query */
@media only screen and (min-width: 768px) {
   .blurb .posts-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
   }

   /* Imposta larghezza massima per gli elementi della lista */
   .blurb .posts-list li {
      max-width: 100%; /* o un valore appropriato */
   }
   .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; /* Spazio tra le colonne */
    align-items: center; /* Allineamento verticale al centro */
  }
}